@{
    ViewBag.Title = "ProfileList";
}

@model PrjMVC.Models.ProfileListModel

<style>
    table {
        margin-top: 15px;
    }

    .right-align td {
        text-align: right;
</style>

<div>
    <h2>會員資料表</h2>
</div>

<div style="width:100%;">
    @using (Html.BeginForm("ProfileListForm"))
    {
        <table style="width:100%">
            <tbody>
                <tr>
                    <td style="width:50%">
                        <table>
                            <tr>
                                <th>
                                    @Html.Label("紀錄日期")
                                </th>
                                <td>
                                    @{
                                        DateTime dtNow = DateTime.Now;
                                        string beginDate = dtNow.ToString("yyyyMMdd");
                                        string endDate = dtNow.AddDays(-90).ToString("yyyyMMdd");
                                    }
                                    @Html.TextBox("AssignBeginDate", beginDate) - @Html.TextBox("AssignEndDate", endDate)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.Label("國家")
                                </th>
                                <td>
                                    @Html.TextBox("InputCountry")
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.Label("專長")
                                </th>
                                <td>
                                    @Html.TextBox("InputSkill")
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:50%">
                        <table>
                            <tr>
                                <th>
                                    @Html.Label("流水編號")
                                </th>
                                <td>
                                    @Html.TextBox("InputStfnNo")
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.Label("城市")
                                </th>
                                <td>
                                    @Html.TextBox("InputCity")
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    @Html.Label("帳號")
                                </th>
                                <td>
                                    @Html.TextBox("InputAccount")
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>               
            </tbody>
        </table>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        @Html.Label("紀錄日期")
                    </th>
                    <th>
                        @Html.Label("流水編號")
                    </th>
                    <th>
                        @Html.Label("帳號(Email)")
                    </th>
                    <th>
                        @Html.Label("國家")
                    </th>
                    <th>
                        @Html.Label("入職日期")
                    </th>
                    <th>
                        @Html.Label("姓名")
                    </th>
                    <th>
                        @Html.Label("性別")
                    </th>
                    <th>
                        @Html.Label("修改")
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ProfileList != null)
                {
                    foreach (var item in Model.ProfileList)
                    {
                        <tr>
                            <td>
                                <input type="radio" />
                            </td>
                            <td>
                                @{
                                    string RecDate = item.ArrivedDate.Substring(0, 4) + "/" + item.ArrivedDate.Substring(4, 2) + "/" + item.ArrivedDate.Substring(6, 2);
                                }
                                @Html.Label(RecDate)
                            </td>
                            <td>
                                @Html.Label(item.UID)
                            </td>
                            <td>
                                @Html.ActionLink(item.Email, "EmailLink")
                            </td>
                            <td>
                                @Html.Label(item.Country)
                            </td>
                            <td>                                
                                @Html.Label(item.City)
                            </td>
                            <td>
                                @Html.Label(item.Name)
                            </td>
                            <td>
                                @Html.Label(item.Gender)
                            </td>
                            <td>
                                @Html.ActionLink("修改", "Edit", "ProfileDetail", new { id = item.StfnID }, new { Class = "btn btn-success" })
                            </td>
                        </tr>                    
                }
            }
                </tbody>
            </table>  
        <table class="right-align">
            <tr>
                <td>
                    @Html.ActionLink("刪除", "Delete", "", new { }, new { Class = "btn btn-danger" })
                </td>
            </tr>
        </table>
    }
</div>